
h1{
    color: rgba(255, 255, 255, 0.3);
}

.nameForm{
    display: flex;
    flex-direction: column;

}
.nameForm input{
    padding: 6px;
}
.nameForm input:focus{
    outline: #141414;
}
.nameForm button {
    margin-top: 4px;
    background-color: #fa198b;
    border: none;
    border-radius: 10px;
    color: #141414;
    font-weight: 700;
    padding: 6px;
}

#welcome{
    color: rgba(255, 255, 255, 0.8);
    font-size: 22px;
    padding: 10px;
}

.noItemMsg{
color:#B91372;
}


.artistDetail{
    max-width: 400px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    opacity:60%;
    cursor: pointer;
}
.artistDetail:hover {
    opacity: 100%;
}

.artistDetail h3{
    margin-left: 6px;
    color: white;
}
.artistImg{
    border-radius: 100%;
    object-fit: cover;
    height: 50px;
    width: 50px;
}

