body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-image: url(/images/cheers-204742_980.jpg);
  background-size: cover;
  min-height: 100vh;
  padding-top: 0px;
  margin-bottom: 0px;
}

.jumbotron {
  background-color: transparent;
  max-height: 100vh;
  padding-top: 10px;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input[type='submit'] {
  background-color: #fa198b;
  border: none;
  font-size: 0.8rem;
  padding-left: 56px;
  padding-right: 56px;
  color: white;
}
input[type='text'] {
  border: none;
  font-size: 0.8rem;
